body {
	background-color: #BDBDBD;
	text-align: center;
	margin: 250px;
}

#hidden {
	display: none;
}

h1, h4 {
	text-align: center;
	color: #0080FF;
}

.word-input {
	width: 500px;
	margin-left: 318px;
}

#word, #show-score {
	font-weight: bold;
	color: #0080FF;
}